html {
  background-color: #191d21;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav img {
  width: 55px;
  margin-right: 10px;
}

nav h1 {
  color: #61dbfb;
  margin: 0;
  margin-right: auto;
}

main h1 {
  color: #edf2f4;
  text-align: left;
}

ul {
  list-style-type: disc;
  text-align: left;
  color: #edf2f4;
}

ul li::marker {
  color: #61dbfb;
  font-size: 1.5em;
}